[Unit]
Description=Bluetooth Low Energy Raspi Manager
After=bluetooth.target bluetooth.service
Requires=bluetooth.target bluetooth.service

[Service]
Type=idle
User=root
WorkingDirectory=/root/brm
ExecStart=/root/brm/brm
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
